.makeit-section{
    width: 100vw;
    height:100vh;
    margin: 1%;
    margin-top: 200px;
}

.makeit-title{
    width: 100%;
    height: 50px;
}
.makeit-line1{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.makeit-title h1{
    font-size: 50px;
    font-weight: 700;
    color: #202124;
    margin: 8px;
    letter-spacing: 0.5px;
}
.makeithighlight h2{
    font-size: 50px;
    font-weight: 400;
    color: #EA4335;
    margin: 0;
    letter-spacing: 0.5px;
}
.makeithighlight{
    display: flex;
    width: max-content;
    height: 50px;
    padding: 1% 2.5% 1% 2%;
    flex-direction: row;
    background-color: #fce8e6;
    flex-wrap: nowrap;
    border-radius: 50px;
    align-items: center;
    letter-spacing: 0.5px;
}
.makeithighlight img{
    height: 50px;
    width: 50px;
    padding: 2px;
    padding-right: 9px;
}

.makeit-line2{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.content-viewer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;  
    align-items: center; 
}
.content-viewer-text2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.random-div{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.video-content{
    width: 50%;
    height: 600px;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    padding: 3%;
}
.text-content-wrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 600px;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}
.media-content{
    display: flex;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
.media-content img, video{
    border-radius: 20px;
}
.headline{
    width: 500px;
    height: 200px;
    padding: 3%;
}
.headline h2{
    font-size: 2rem;
    font-weight: 100;
    line-height: 2.25rem;
    letter-spacing: -0.03125rem;
    width: 500px;
    margin:0 0 0 0;
}

.headline-content p{
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: 0.6px;
    color: #5f6368;
    width: 400px;
    transition: ease-in-out 1s;
}
.makeit-button{
    width: 100%;
    height: 80px;
    padding: 1%;
    margin-top:50px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.makeit-button a{
    background-color: #e8f0fe;
    color: #1967d2;
    padding: 3% 6% 3% 6%;
    border-radius: 50px;
    font-size: 17px;
}
.makeit-button span{
    width: 85%;
    height:100%;
    
    align-content: center;
}

@media screen and (max-width:500px) {
    .makeit-section{
        margin-top: 150px;
    }
    .random-div{
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video-content{
        width: 300px;
        height: auto;
    }
    .media-content{
        width: 300px;
        height: auto;
    }
    .text-content-wrapper{
        width: 400px;
        align-content: center;
        align-items: center;
    }
    .random-div{
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }
    .headline{
        width: 200px;
        height: 200px;
        padding: 0%;
    }
}

@media screen and (max-width:1150px) {
    .video-content{
        width: 400px;
        height: auto;
    }
    .media-content{
        width: 400px;
        height: auto;
    }
    .text-content-wrapper{
        width: 40%;
        height: 700px;
    }
    .random-div{
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .headline{
        width: 200px;
        height: 200px;
        padding: 3%;
    }
    .makeit-button{
        width: 60%;
    }
    .makeit-button a{
        
        padding: 6% 8% 6% 8%;
        border-radius: 50px;
        font-size: 17px;
    }
    .makeit-button span{
        width: 75%;
        height:100%;
        
        align-content: center;
    }
}