:root {
  font-family: "Product Sans", Arial, sans-serif;
  background-color: #ffffff;
}




body {
  margin: 0;
  overflow-x: clip;
  width: 1024px;
  height: 100%;
}
@media (max-width:1000px) {
  body {
    margin: 0;
    overflow-x: clip;
    width: max-content;
    height: 100vh;
  }
}



